
<div class="jumbotron">
  <h1>Dashboard</h1>
  <% if current_usuario %>
    <% if current_usuario.admin? %>
      <h2>You're Admin!</h2>
    <%end %>
  <%end %>
  
</div>
<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">
  	<%= link_to 'CSV', dashboard_index_path + ".xls", :class => "btn btn-info" %>
  </div>
</div>



