<p>
  <strong>Task:</strong>
  <%= task.name %>
</p>

<p>
  <%= link_to 'Destroy Comment', [task.project, task],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>