/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require bootstrap-datepicker
 *= require fullcalendar
 *= require_self
 */

 html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
 pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
 small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
 form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
 canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,
 ruby,section,summary,time,mark,audio,video{
	font-family: "Seravek";
 }

 body {
 	position: absolute;
 	height: 100%;
 	width: 100%;


	height: 100%;
	padding-top: 50px;

	background-color: #EBEBEB; /*#ededed #eee;*/
}

.wrapper{
	min-height: 100%;
	position: relative;
}

#footer {
	position: absolute;
	bottom: 0;
	
	padding-top: 25px;
	height: 60px;
	background-color: #fff; /*#f5f5f5;*/
	bottom: 0;
	/*position: fixed;*/
	width: 100%;
}

.envoltura{
	/*padding-top: 40px;
  	padding-bottom: 40px;
  	background-color: #eee;*/
	padding: 125px;
  	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #23262B; /*#212a31 #273849*/
	z-index: 0;
}

.dotcontainer{
	margin-top: 25px;
	padding-bottom: 95px;
}

/*Sobreescribiendo el color del borde para los controles en el login */
.form-control {
  	border: 1px solid #fff;
}

.envoltura .signin {
	margin-right: auto;
	margin-left: auto;
	width: 430px;
	padding: 24px 23px 20px;
	position: relative;
	background-color: #428bca; /*#2980b9;*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

/* El siguiente arreglo solo para la señal del globo */
.envoltura .signin:before {
	content: '';
	border-style: solid;
	border-width: 12px 12px 12px 0;
	border-color: transparent #428bca transparent transparent;
	height: 0;
	position: absolute;
	left: -12px;
	top: 35px;
	width: 0;
	-webkit-transform: rotate(360deg);
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/*
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/

/*Clases para el diseño flat del login*/
.envoltura .form-signin input[type="email"],
.envoltura .form-signin input[type="password"]{
	/*border: 2px solid #bdc3c7;
	border-color: transparent;*/
	font-size: 17px;
	padding-bottom: 11px;
	padding-top: 11px;
	text-indent: 3px;
	width: 299px;
	margin-bottom: 10px !important;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

 .envoltura .login-screen{
 	-webkit-border-radius: 25px;
 	-moz-border-radius: 25px;
 	-ms-border-radius: 25px;
 	-o-border-radius: 25px;
 	border-radius: 25px;
 	padding: 123px 199px 125px 306px;
 }

.envoltura .agrupador{
	position: relative;
}

/*WebFonts de iconos*/
.form-signin .login-icon {
	z-index: 10;
	color: #bfc9ca;
	font-size: 16px;
	position: absolute;
	right: 13px;
	top: 14px;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
}


/*** THEME By @esauOp ***/ 
/*	colors
	#2980b9
	#3498db
	#5bc0de

	#FDFDFD
*/

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: none;
  background-color: transparent;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


.btn-color-login {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#95a5a6), to(#95a5a6));
	background-image: -webkit-linear-gradient(top, #95a5a6, 0%, #95a5a6, 100%);
	background-image: -moz-linear-gradient(top, #95a5a6 0%, #95a5a6 100%);
	background-image: linear-gradient(to bottom, #5bc0de 0%, #5bc0de 100%);
	background-repeat: repeat-x;
	border-color: #2d6ca2;
	/*
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
	*/
}

.navbar-inverse {
	color:#575a5c;
	background-color: #FFF;
	border-color: #FDFDFD;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#FFF), to(#FFF));
	background-image: -webkit-linear-gradient(top, #FFF, 0%, #FFF, 100%);
	background-image: -moz-linear-gradient(top, #FFF 0%, #FFF 100%);
	background-image: linear-gradient(to bottom, #FFF 0%, #FFF 100%);
	background-repeat: repeat-x;
	/*
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
	*/
}


.navbar-inverse .navbar-brand {
  color: #575a5c;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #575a5c;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: #575a5c;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #2C2C2C;
  background-color: transparent;
  border-bottom: solid 3px #428bca;
}

.navbar-inverse .navbar-nav > .active > a {
	border-bottom: solid 3px #428bca;
	color: #575a5c;
  	background-color: #fff;
}
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {	
	color: #575a5c;
  	background-color: #fff;/*#f1f1f1;*/
  	border-bottom: solid 3px #428bca;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #575a5c;
  background-color: #fff;
  border-bottom: solid 3px #428bca;
}


.navbar-sub-manager {
  padding: 20px 150px 20px 50px;
  /*margin-bottom: 25px;*/
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: #fff;
  /*background-color: #202D3A;*/
  background-color: #23262B; /*#2c3e50;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 100%;
}

.navbar-sub-manager h1,
.navbar-sub-manager h2,
.navbar-sub-manager h3,
.navbar-sub-manager h4 {
	position: relative;
	display: block;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

}


.navbar-fixed-top,
.navbar-fixed-bottom {
  /*position: fixed;
  right: 0;
  left: 0;*/
  border-width: 0 0 0px;
}

.tabla-striped .row:nth-child(odd){
	background-color: #EBEBEB;
}

.row.header{

	font-weight: bold;
}

/*
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}*/

.catalogo{
	margin-bottom: 15px;
	padding: 50px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
}

.messages{
	/*float: left;*/
	width: 500px;
	margin-left: auto;
	margin-right: auto;

	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 13px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.messages.success{
	color: #dff0d8;
}

.messages.error{
	color: #f2dede;
}

.messages.block{
	color: #d9edf7;
}

.messages.info{
	color: #d9edf7;
}


.alert-success {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#dff0d8), to(#c8e5bc));
	background-image: -webkit-linear-gradient(top, #dff0d8, 0%, #c8e5bc, 100%);
	background-image: -moz-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
	background-image: linear-gradient(to bottom, #dff0d8 0%, #dff0d8 100%);
	background-repeat: repeat-x;
	border-color: #dff0d8;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);

	color: #468847;
	background-color: #dff0d8;
}

.alert-info {	
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9edf7), to(#b9def0));
	background-image: -webkit-linear-gradient(top, #d9edf7, 0%, #b9def0, 100%);
	background-image: -moz-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
	background-image: linear-gradient(to bottom, #d9edf7 0%, #d9edf7 100%);
	background-repeat: repeat-x;
	border-color: #d9edf7;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);

	color: #3a87ad;
	background-color: #d9edf7;
}

.alert-warning {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fcf8e3), to(#f8efc0));
	background-image: -webkit-linear-gradient(top, #fcf8e3, 0%, #f8efc0, 100%);
	background-image: -moz-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
	background-image: linear-gradient(to bottom, #fcf8e3 0%, #fcf8e3 100%);
	background-repeat: repeat-x;
	border-color: #fcf8e3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);

	color: #c09853;
	background-color: #fcf8e3;
}

.alert-danger {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f2dede), to(#e7c3c3));
	background-image: -webkit-linear-gradient(top, #f2dede, 0%, #e7c3c3, 100%);
	background-image: -moz-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
	background-image: linear-gradient(to bottom, #f2dede 0%, #f2dede 100%);
	background-repeat: repeat-x;
	border-color: #f2dede;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);

	color: #b94a48;
	background-color: #f2dede;
}

/*
bootstrap-datepicker
*/

/*Timer*/
.timermenu{
	font-size: 15px;
	color: #fff;
}

.timermenu label{
	padding-right: 10px;
	font-weight: lighter;
}

.timermenu input{
	width: 65px;
	border: none;
	background-color: transparent;
	font-size: 15px;
	color: #fff;
}
.timermenu span{
	font-weight: lighter;
}

.boton{
	padding: 5px 10px;
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}



/* Calendar */

table.fc-border-separate {
	background-color: #fff;
}
	
.fc-border-separate thead {
	background-color: #f0f0f0;
}


.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
	 background: #f0f0f0;
}
	